@tailwind base;
@tailwind components;
@tailwind utilities;



.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 300ms, transform 300ms;
}

/* index.css or App.css */
html, body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrollbars */
  }
  
  * {
    box-sizing: border-box;
  }